/*
* This file will initialize tailwinds.css
* Docs: https://tailwindcss.com/docs/guides/remix
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.pulse {
	animation-name: pulse;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
